<?xml version="1.0"?>
<robot name="x500" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- 기본 inertial, visual, collision, sensor 변환 -->
    <link name="base_link"/>

    <!--joint for base_link and chassis-->
    <joint name="body_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="body"/>
    </joint>

    <link name="body">
        <!-- Inertial 정보 -->
        <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.02166666666666667" ixy="0" ixz="0" 
                iyy="0.02166666666666667" iyz="0" izz="0.04000000000000001"/>
        </inertial>

        <!-- Visuals -->
        <visual name="base_link_visual">
        <origin xyz="0 0 0.025" rpy="0 0 3.141592654"/>
        <geometry>
            <mesh filename="package://simple_drone/meshes/NXP-HGD-CF.dae" scale="1 1 1"/>
        </geometry>
        </visual>
        <visual name="5010_motor_base_0">
        <origin xyz="0.174 0.174 0.032" rpy="0 0 -0.45"/>
        <geometry>
            <mesh filename="package://simple_drone/meshes/5010Base.dae" scale="1 1 1"/>
        </geometry>
        </visual>
        <visual name="5010_motor_base_1">
        <origin xyz="-0.174 0.174 0.032" rpy="0 0 -0.45"/>
        <geometry>
            <mesh filename="package://simple_drone/meshes/5010Base.dae" scale="1 1 1"/>
        </geometry>
        </visual>
        <visual name="5010_motor_base_2">
        <origin xyz="0.174 -0.174 0.032" rpy="0 0 -0.45"/>
        <geometry>
            <mesh filename="package://simple_drone/meshes/5010Base.dae" scale="1 1 1"/>
        </geometry>
        </visual>
        <visual name="5010_motor_base_3">
        <origin xyz="-0.174 -0.174 0.032" rpy="0 0 -0.45"/>
        <geometry>
            <mesh filename="package://simple_drone/meshes/5010Base.dae" scale="1 1 1"/>
        </geometry>
        </visual>
        <visual name="NXP_FMUK66_FRONT">
        <origin xyz="0.047 0.001 0.043" rpy="1 0 1.57"/>
        <geometry>
            <box size="0.013 0.007 0.001"/>
        </geometry>
        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>
        </visual>
        <visual name="NXP_FMUK66_TOP">
        <origin xyz="-0.023 0 0.0515" rpy="0 0 -1.57"/>
        <geometry>
            <box size="0.013 0.007 0.001"/>
        </geometry>
        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>
        </visual>
        <visual name="RDDRONE_FMUK66_TOP">
        <origin xyz="-0.03 0 0.0515" rpy="0 0 -1.57"/>
        <geometry>
            <box size="0.032 0.0034 0.001"/>
        </geometry>
        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>
        </visual>

        <!-- Collisions -->
        <collision name="base_link_collision_0">
        <origin xyz="0 0 0.007" rpy="0 0 0"/>
        <geometry>
            <box size="0.35355339059327373 0.35355339059327373 0.05"/>
        </geometry>
        </collision>
        <collision name="base_link_collision_1">
        <origin xyz="0 -0.098 -0.123" rpy="-0.35 0 0"/>
        <geometry>
            <box size="0.015 0.015 0.21"/>
        </geometry>
        </collision>
        <collision name="base_link_collision_2">
        <origin xyz="0 0.098 -0.123" rpy="0.35 0 0"/>
        <geometry>
            <box size="0.015 0.015 0.21"/>
        </geometry>
        </collision>
        <collision name="base_link_collision_3">
        <origin xyz="0 -0.132 -0.2195" rpy="0 0 0"/>
        <geometry>
            <box size="0.25 0.015 0.015"/>
        </geometry>
        </collision>
        <collision name="base_link_collision_4">
        <origin xyz="0 0.132 -0.2195" rpy="0 0 0"/>
        <geometry>
            <box size="0.25 0.015 0.015"/>
        </geometry>
        </collision>
    </link>

    <joint name="rotor_0_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rotor_0"/>
        <origin xyz="0.174 -0.174 0.06" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1e+16" upper="1e+16" effort="0" velocity="0"/>
        <!-- spring/dynamics은 기본 URDF에 직접적 태그 없음 -->
    </joint>

        <!-- rotor_0 -->
    <link name="rotor_0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.016076923076923075"/>
            <inertia
            ixx="3.8464910483993325e-07"
            iyy="2.6115851691700804e-05"
            izz="2.649858234714004e-05"
            ixy="0" ixz="0" iyz="0"/>
        </inertial>
        <visual name="rotor_0_visual">
            <origin xyz="-0.022 -0.14638461538461536 -0.016" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/1345_prop_ccw.stl" scale="0.8461538461538461 0.8461538461538461 0.8461538461538461"/>
            </geometry>
            <!-- URDF material 태그는 색상만 지원하므로 material 생략 -->
        </visual>
        <visual name="rotor_0_visual_motor_bell">
            <origin xyz="0 0 -0.032" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/5010Bell.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision name="rotor_0_collision">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.2792307692307692 0.016923076923076923 0.0008461538461538462"/>
            </geometry>
        </collision>
    </link>

    <!-- rotor_1 -->
    <link name="rotor_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.016076923076923075"/>
            <inertia
            ixx="3.8464910483993325e-07"
            iyy="2.6115851691700804e-05"
            izz="2.649858234714004e-05"
            ixy="0" ixz="0" iyz="0"/>
        </inertial>
        <visual name="rotor_1_visual">
            <origin xyz="-0.022 -0.14638461538461536 -0.016" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/1345_prop_ccw.stl" scale="0.8461538461538461 0.8461538461538461 0.8461538461538461"/>
            </geometry>
        </visual>
        <visual name="rotor_1_visual_motor_top">
            <origin xyz="0 0 -0.032" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/5010Bell.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision name="rotor_1_collision">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.2792307692307692 0.016923076923076923 0.0008461538461538462"/>
            </geometry>
        </collision>
    </link>

    <joint name="rotor_1_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rotor_1"/>
        <origin xyz="-0.174 0.174 0.06" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1e+16" upper="1e+16" effort="0" velocity="0"/>
    </joint>

    <!-- rotor_2 -->
    <link name="rotor_2">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.016076923076923075"/>
            <inertia
            ixx="3.8464910483993325e-07"
            iyy="2.6115851691700804e-05"
            izz="2.649858234714004e-05"
            ixy="0" ixz="0" iyz="0"/>
        </inertial>
        <visual name="rotor_2_visual">
            <origin xyz="-0.022 -0.14638461538461536 -0.016" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/1345_prop_cw.stl" scale="0.8461538461538461 0.8461538461538461 0.8461538461538461"/>
            </geometry>
        </visual>
        <visual name="rotor_2_visual_motor_top">
            <origin xyz="0 0 -0.032" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/5010Bell.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision name="rotor_2_collision">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.2792307692307692 0.016923076923076923 0.0008461538461538462"/>
            </geometry>
        </collision>
    </link>

    <joint name="rotor_2_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rotor_2"/>
        <origin xyz="0.174 0.174 0.06" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1e+16" upper="1e+16" effort="0" velocity="0"/>
    </joint>

    <!-- rotor_3 -->
    <link name="rotor_3">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.016076923076923075"/>
            <inertia
            ixx="3.8464910483993325e-07"
            iyy="2.6115851691700804e-05"
            izz="2.649858234714004e-05"
            ixy="0" ixz="0" iyz="0"/>
        </inertial>
        <visual name="rotor_3_visual">
            <origin xyz="-0.022 -0.14638461538461536 -0.016" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/1345_prop_cw.stl" scale="0.8461538461538461 0.8461538461538461 0.8461538461538461"/>
            </geometry>
        </visual>
        <visual name="rotor_3_visual_motor_top">
            <origin xyz="0 0 -0.032" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/5010Bell.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision name="rotor_3_collision">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.2792307692307692 0.016923076923076923 0.0008461538461538462"/>
            </geometry>
        </collision>
    </link>

    <joint name="rotor_3_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rotor_3"/>
        <origin xyz="-0.174 -0.174 0.06" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1e+16" upper="1e+16" effort="0" velocity="0"/>
    </joint>

    <link name="x500_lidar_2d_0/base_link/imu_sensor">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.001"/>
            <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="x500_lidar_2d_0/base_link/imu_sensor"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="gps_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.001"/>
            <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </link>

    <joint name="gps_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gps_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="x500_lidar_2d_0/link/lidar_2d_v2">
        <!-- Inertial -->
        <inertial>
            <origin xyz="0 0 0.0435" rpy="0 0 0"/>
            <mass value="0.37"/>
            <inertia ixx="0.0003443775" ixy="0" ixz="0" iyy="0.0003443775" iyz="0" izz="0.000222"/>
        </inertial>

        <!-- Collisions -->
        <collision name="collision_base">
            <origin xyz="0 0 0.0205" rpy="0 0 0"/>
            <geometry>
            <box size="0.06 0.06 0.041"/>
            </geometry>
        </collision>
        <collision name="collision_mid">
            <origin xyz="0 0 0.055" rpy="0 0 0"/>
            <geometry>
            <cylinder radius="0.025" length="0.028"/>
            </geometry>
        </collision>
        <collision name="collision_top">
            <origin xyz="0 0 0.078" rpy="0 0 0"/>
            <geometry>
            <box size="0.056 0.056 0.018"/>
            </geometry>
        </collision>

        <!-- Visual -->
        <visual name="visual">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <mesh filename="package://simple_drone/meshes/lidar_2d_v2.dae"/>
            </geometry>
        </visual>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="x500_lidar_2d_0/link/lidar_2d_v2"/>
        <origin xyz="0.12 0 0" rpy="0 0 0"/>
    </joint>

</robot>
